.container{
  display: grid;
  grid-template-columns: 4rem 10rem;
  padding-left: 15rem;
  font-size: 0.9rem;
  margin-top: 1rem;

  .experienceBar{
    display: flex;
    align-items: center;

    & > div{
      flex:1;
      height: 4px;
      border-radius: 4px;
      background: var(--gray-line);
      margin: 0 1.5rem;

      & > div{
        height: 4px;
        border-radius: 4px;
        background: var(--secondary);
      }
    }
  }  
}