.profileContainer{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    .avatar{
        width:5.7rem;
        height: 5.7rem;
        border-radius: 50%;
        border: 2px solid var(--primary);
    }
    
    div{
    margin-left: 1.5rem;
    }
    
    .user{
        strong{
            font-size:1.5rem;
            font-weight: 600;
            color:var(--primary);
        }

        p{
            &:first-child{
                font-size:1rem;
                margin-top: 0.5rem;
            }

            &:last-child{
                font-size:0.8rem;
                display: grid;
                grid-template-columns: 3rem 10rem;
                gap: 0;
                margin-top: 0.5rem;
            }

            img{
                margin-right: 0.5rem;
            }
        }

        button{
            background-color:var(--primary);
            color:var(--card-text);
            font-size: 1rem;
            outline: 0;
            border: 0;
            padding: 0.2rem 0.2rem;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            
            transition: filter 0.2s;

            &:hover{
                filter: brightness(0.9);
            }
        }
    }

    .pet img{
        margin-left: 7rem;
    }
}

@media (max-width: 360px){
    .pet img{
        width:35%;
        height:35%;
    }
}