.profileContainer{
    display: flex;
    align-items: center;
}

.profileContainer > img{
    width:5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainer div{
    margin-left: 1.5rem;

}

.profileContainer div strong{
    font-size:1.5rem;
    font-weight: 600;
    color:var(--title);
}

.profileContainer div p{
    font-size:1rem;
    margin-top: 0.5rem;
}

.profileContainer div p img{
    margin-right: 0.5rem;
}

.TrainerContainer{
    display:flex;
    align-items: center;
}

.TrainerContainer div p{
    font-size:1rem;
    width: 8.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.petIcon{
    margin-left: 4rem;
}