.container {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient( var(--primary), var(--tertiary), var(--secondary));
  
  font-family: 'Inter', sans-serif;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 2.7rem;
    border-radius: 20px;

    background-color: white;

    .logoFull {
      height: 3.5rem;
      padding-top: 1rem;
    }

    h1{
      text-align: center;
      margin-top:0;
      padding-top: 0;
      margin-bottom: 4rem;
      font-size: 1.5rem;
      color: var(--primary);
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 1rem;
  
      h2 {
        margin: 0.5rem;
        color: var(--primary-dark);
      }
  
      input {
        outline: none;
        font-size: 1.1rem;
        border: 2px solid var(--primary-dark);
        border-radius: 2px;
      }
  
      button {
        border: none;
        border-radius: 2px;
      
        padding: 0.2rem 0.5rem;
        margin-left: .3rem;
        text-transform: uppercase;
      
        font-size: 1rem;
  
        &:not(:disabled) {
          color: var(--card-text);
          background-color: var(--primary-dark);
          transition: filter 0.1s;
        }
  
        &:not(:disabled):hover {
          filter: brightness(0.9)
        }
      }
    }
  }

}